html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(1, 35, 41);
  font-family: "Poppins", sans-serif;
  color: beige;
}

#splash {
  min-height: 600px;
  background: url("/images/clouds_darkgreen.png");
  background-position: center;
  background-size: cover;
}

.header {
  color: cadetblue;
  font-size: 1em;
}

.section {
  min-height: 500px;
  color: seashell;
  text-align: left;
  font-size: 1.5em;
}

.aboutsection {
  min-height: 500px;
  color: seashell;
  text-align: left;
}

.padding {
  min-height: 100px;
}

.splashpadding {
  min-height: 200px;
}

/* #testButton {
  background-color: teal;
  color: white;
} */

/* div {
  border: 1px solid red;
} */
