html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(63, 63, 66);
  font-family: "Poppins", sans-serif;
}

/* #testButton {
  background-color: teal;
  color: white;
} */

/* div {
  border: 1px solid red;
} */
