html {
 box-sizing: border-box;
}
*,
*:before,
*:after {
 box-sizing: inherit;
}

body {
 background-color: rgb(1, 35, 41);
 font-family: "Poppins", sans-serif;
 color: seashell;
}

#splash {
 min-height: 800px;
 background: url("/images/whitehaze.png");
 color: darksalmon;
 background-position: center;
 background-size: cover;
 background-attachment: scroll;
}

.header {
 color: darksalmon;
 font-size: 1em;
}

.section {
 min-height: 500px;
 color: seashell;
 text-align: left;
 font-size: 1.5em;
}

.aboutsection {
 min-height: 500px;
 color: seashell;
 text-align: left;
}

.padding {
 min-height: 100px;
}

.splashpadding {
 min-height: 300px;
}
